<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>viewusers.html</title>
</head>
<body>
<h1>Users List</h1>

  <table style="bottom: 1px; width: 90%;">
    <tr><th>Id</th><th>Name</th><th>Password</th><th>Email</th>
      <th>Sex</th><th>Country</th><th>Edit</th><th>Delete</th></tr>
      <tr th:each="u : ${users}"><td th:text="${u.getId()}"></td><td th:text="${u.getName()}"></td><td th:text="${u.getPassword()}"></td>
        <td th:text="${u.getEmail()}"></td><td th:text="${u.getSex()}"></td><td th:text="${u.getCountry()}"></td>
        <td><a th:href="@{/editform(id=${u.getId()})}">Edit</a></td>
        <td><a th:href="@{/deleteuser(id=${u.getId()})}">Delete</a></td></tr>
  </table>
  <br/><a href="/adduserform">Add New User</a>
</body>
</html>